In [6]:
from hdmf.common import ExternalResources
from hdmf.common import DynamicTable
from hdmf import Data
import pandas as pd

er = ExternalResources(name='example')

/Users/mavaylon/Research/hdmf_testing/hdmf/src/hdmf/container.py:181: UserWarning: ExternalResources is experimental -- it may be removed in the future and is not guaranteed to maintain backward compatibility
  warn(_exp_warn_msg(cls))

In [2]:
data = Data(name="species", data=['Homo sapiens', 'Mus musculus'])
er.add_ref(container=data, field='', key='Homo sapiens', resource_name='NCBI_Taxonomy',
           resource_uri='https://www.ncbi.nlm.nih.gov/taxonomy', entity_id='NCBI:txid9606',
           entity_uri='https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=9606')

er.add_ref(container=data, field='', key='Mus musculus', resource_name='NCBI_Taxonomy',
           resource_uri='https://www.ncbi.nlm.nih.gov/taxonomy', entity_id='NCBI:txid10090',
           entity_uri='https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=10090')

(<hdmf.common.resources.Key at 0x7fc1fadacf90>,
 <hdmf.common.resources.Resource at 0x7fc1fadacf10>,
 <hdmf.common.resources.Entity at 0x7fc1fadace90>)

In [3]:
er.resources.to_dataframe()

        resource                           resource_uri
0  NCBI_Taxonomy  https://www.ncbi.nlm.nih.gov/taxonomy

In [7]:
er.keys.to_dataframe()

Empty DataFrame
Columns: [key]
Index: []

In [10]:
er.objects.to_dataframe()

                              object_id field
0  fff0c81a-c9f7-41af-ba83-45f9e9709804

In [12]:
object_field=er._check_object_field(data, '')

In [11]:
er.keys.which(key='Homo sapiens')

[]

In [14]:
row_idx=er.object_keys.which(objects_idx=object_field.idx)