In [1]:
from hdmf.common import ExternalResources
from hdmf.common import DynamicTable
from hdmf import Data
import pandas as pd

er = ExternalResources(name='example')

/Users/mavaylon/Research/hdmf_testing/hdmf/src/hdmf/container.py:181: UserWarning: ExternalResources is experimental -- it may be removed in the future and is not guaranteed to maintain backward compatibility
  warn(_exp_warn_msg(cls))

In [2]:
data = Data(name="species", data=['Homo sapiens', 'Mus musculus'])
er.add_ref(container=data, field='', key='Homo sapiens', resource_name='NCBI_Taxonomy',
           resource_uri='https://www.ncbi.nlm.nih.gov/taxonomy', entity_id='NCBI:txid9606',
           entity_uri='https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=9606')

(<hdmf.common.resources.Key at 0x7fd9ad9c4950>,
 <hdmf.common.resources.Resource at 0x7fd9ad9c48d0>,
 <hdmf.common.resources.Entity at 0x7fd9ad9c4b50>)

In [3]:
er.add_ref(container=data, field='', key='Mus musculus', resource_name='NCBI_Taxonomy',
           resource_uri='https://www.ncbi.nlm.nih.gov/taxonomy', entity_id='NCBI:txid10090',
           entity_uri='https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=10090')

(<hdmf.common.resources.Key at 0x7fd9ad9d90d0>,
 <hdmf.common.resources.Resource at 0x7fd9ac337310>,
 <hdmf.common.resources.Entity at 0x7fd9ad9d9110>)

In [4]:
data2 = Data(name="species2", data=['Homo sapiens', 'Mus musculus'])

In [5]:
er.get_key('Mus musculus',data2,'')

In [6]:
er.object_keys.to_dataframe()

   objects_idx  keys_idx
0            0         0
1            0         1

In [7]:
er.objects.to_dataframe()

                              object_id field
0  dd87d3aa-56f0-46fe-8587-93736ddfadbb
1  04cdb806-1d2b-42ac-aec6-6120cf71d03e

In [8]:
er.keys.to_dataframe()

            key
0  Homo sapiens
1  Mus musculus

In [9]:
er.keys.which(key='Mus musculus')

[1]

In [10]:
object_field=er._check_object_field(data2,"")
object_field.idx

1

In [11]:
er.object_keys['keys_idx', object_field.idx]

1

In [5]:
data2 = Data(name="species2", data=['Homo sapiens', 'Mus musculus'])
er.add_ref(container=data, field='', key='Mus musculus', resource_name='NCBI_Taxonomy',
           resource_uri='https://www.ncbi.nlm.nih.gov/taxonomy', entity_id='NCBI:txid10090',
           entity_uri='https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=10090')

(<hdmf.common.resources.Key at 0x7fe5bf275a10>,
 <hdmf.common.resources.Resource at 0x7fe5bf0c3c90>,
 <hdmf.common.resources.Entity at 0x7fe5bf275b50>)

In [6]:
er.get_keys()

,key_name,resources_idx,entity_id,entity_uri
0,Homo sapiens,0,NCBI:txid9606,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...
1,Mus musculus,0,NCBI:txid10090,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...
2,Mus musculus,0,NCBI:txid10090,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...

In [20]:
er.object_keys.which(objects_idx=object_field.idx)

[0, 1]

In [17]:
er.object_keys[0]

(0, 0)

In [15]:
er.keys.which(key='Homo sapiens')

[0]

In [24]:
er.get_key('Homo sapiens',data,'').idx

0

In [23]:
er.object_keys['keys_idx', 1]

1

In [27]:
er.keys.row[er.object_keys['keys_idx', object_field.idx]]

In [9]:
er.object_keys.to_dataframe()

   objects_idx  keys_idx
0            0         0
1            0         1
2            0         1

In [9]:
er.objects.to_dataframe()

                              object_id field
0  ee5db024-4064-42c8-985f-0d0aa2a82a51

In [10]:
er.keys.to_dataframe()

            key
0  Homo sapiens
1  Mus musculus

In [ ]:
er.get_key(key_name='Mus musculus')

In [ ]:
er.objects.which(object_id='data')

In [5]:
er.objects.to_dataframe()

                              object_id field
0  8c1629df-6c7c-4ce6-b1da-32eaf80dc865
1  c24e736e-306e-4553-9e44-13c4ef83bdac

In [ ]:
objecttable_idx = er.objects.which(object_id=data.object_id)

In [ ]:
field_idx = er.objects.which(field='')
objecttable_idx = list(set(objecttable_idx) & set(field_idx))

In [ ]:
set(field_idx)

In [ ]:
objecttable_idx

In [7]:
key_name='Mus musculus'
container=data2
field=''

In [16]:
key_id = er.keys.which(key=key_name)
if container is not None and field is not None:
            # if same key is used multiple times, determine
            # which instance based on the Container
    object_field = er._check_object_field(container, field)
    key_tmp = er.object_keys['keys_idx', object_field.idx]
    print(key_tmp,key_id,object_field.idx)
    if key_tmp in key_id:
        print(er.keys.row[key_tmp],key_tmp,key_id)

1 [1] 1
<hdmf.common.resources.Key object at 0x7fc51ca9a390> 1 [1]

In [9]:
er.object_keys[object_field.idx]

(1, 1)

In [12]:
er.object_keys.to_dataframe()

   objects_idx  keys_idx
0            0         0
1            1         1
2            0         2

In [7]:
er.object_keys['keys_idx', object_field.idx]

NameError: name 'object_field' is not defined